name: Run Selenium Tests with Allure

on:
  push:
    branches:
      - branch20
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build & Run Tests
        run: mvn clean test

      - name: Generate Allure Report
        uses: simple-elf/allure-report-action@v1
        with:
          allure_results: target/allure-results
          allure_report: target/allure-report

      - name: Upload Allure Report Artifact
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: target/allure-report
